src/main/resources/library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.library.com/schema"
           xmlns="http://www.library.com/schema"
           elementFormDefault="qualified">

    <xs:simpleType name="GenreType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FICTION"/>
            <xs:enumeration value="NON_FICTION"/>
            <xs:enumeration value="SCIENCE"/>
            <xs:enumeration value="HISTORY"/>
            <xs:enumeration value="ART"/>
            <xs:enumeration value="EDUCATION"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="AddressType">
        <xs:attribute name="id" type="xs:long" use="optional"/>
        <xs:attribute name="street" type="xs:string" use="required"/>
        <xs:attribute name="city" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="ReviewType">
        <xs:sequence>
            <xs:element name="rating" type="xs:int"/>
            <xs:element name="comment" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" use="optional"/>
    </xs:complexType>

    <xs:complexType name="UserType">
        <xs:sequence>
            <xs:element name="registrationDateTime" type="xs:dateTime"/>
            <xs:element name="address" type="AddressType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" use="optional"/>
        <xs:attribute name="isActive" type="xs:boolean" use="required"/>
    </xs:complexType>

    <xs:complexType name="BookType">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="isbn" type="xs:string" minOccurs="0"/>
            <xs:element name="title" type="xs:string" minOccurs="0"/>
            <xs:element name="publicationDate" type="xs:date" minOccurs="0"/>
            <xs:element name="pageCount" type="xs:int" minOccurs="0"/>
            <xs:element name="genre" type="GenreType" minOccurs="0"/>
            <xs:element name="reviews">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="review" type="ReviewType" maxOccurs="unbounded" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DepartmentType">
        <xs:sequence>
            <xs:element name="book" type="BookType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="EmployeeType">
        <xs:sequence>
            <xs:element name="firstName" type="xs:string" minOccurs="0"/>
            <xs:element name="lastName" type="xs:string" minOccurs="0"/>
            <xs:element name="departmentId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" use="optional"/>
    </xs:complexType>

    <xs:element name="library">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="books">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="book" type="BookType" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="users">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="user" type="UserType" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="departments">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="department" type="DepartmentType" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="employees">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="employee" type="EmployeeType" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:long" use="optional"/>
            <xs:attribute name="name" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
